export PYTHONPATH=$PWD/pylibs:$PYTHONPATH

# for Python venv
export VIRTUAL_ENV="$PWD"/.venv
export PATH="$VIRTUAL_ENV/bin:$PATH"

# Categorized tweets data in jsonl format.
# Each line should contain { category: <CATEGORY_NAME>, tweet: <TWEET_OBJECT>] },
# where <CATEGORY_NAME> is a string and <TWEET_OBJECT> is a single tweet in JSON from Twitter Streaming API.
export CATEGORIZED_TWEETS_FILEPATH=/sync/projects/twitter-src/dmoz/01-categorized_tweets/DATA/categorized_tweets.jsonl
